.table-fixed-width {
    overflow-x: unset;
    overflow-y: unset;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown a{
    pointer-events: none;
}

.detail{
    display: block;
}

.btn-detail{
    padding: 0px 10px!important;
}