.choose_slider_items .next_item{
	top:120px;
}

.choose_slider_items .previous_item{
	top:120px;
}

.choose_slider {
	height: 320px;
	width: 100%;
}

#mySlider1 li a img{
	width: 300px;
	height: 250px;
	box-shadow: 1px 0px 1px 1px grey;
}

.hint-text{
	text-align: center;
	color: red;
	margin-top: 15px;
}

.vocabulary-box input,.vocabulary-box textarea{
    margin-top: 5px;
    text-align: center;
    border-radius: 0px;
    font-size: 14px;
}


.vocabulary-box input:nth-child(1){
	color: #009688;
	font-size: 16px;
}

.vocabulary-box textarea{
	resize: none;
}

#example-list{
	margin-left: 0px;
}

.right-header h5 {
    margin-left: 10px;
    cursor: pointer;
}

#key-word{
	height: 50px!important;
	font-size: 20px;
    padding-right: 75px!important;
}

.label_bookmark {
    padding-left: 0px;
    padding-right:0px;
}
.bookmark {
    padding-left: 0px;
    padding-right:0px;
}

.bookmark ul {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.bookmark > ul > li > a {
    display: block;
    background:#2e7ca0;
    color:#fff;
    height: 25px;
    margin-right: 25px;
}
/*.bookmark > ul > li > a:hover {
    background:#09a6ff;
}*/
.bookmark > ul > li > a:hover {
    background: #0990ce ;
    text-decoration: none;
}
.bookmark > ul > li > a:hover .bookmark_cd {
    border-right:1px white solid;
    height: 25px;
    background: #006898;
    color: white;
}
.bookmark > ul > li > a > .bookmark_cd {
    display: inline-block;
    border-right:1px solid white;
    padding: 2px 0px;
    margin-right: 5px;
    width: 25px;
    text-align: center;
}
.bookmark > ul > li > a > .bookmark_nm {
    display: inline-block;
    margin-right: 5px;
}
.bookmark_delete {
    display: inline-block;
    border-left:1px solid white;
    padding: 2px 0px;
    width: 25px;
    text-align: center;
    background: #943e3d;
    position: absolute;
    right: 1px;
    top: 1px;
    color: white;
    height: 25px;
    cursor: pointer;
}

.bookmark_delete:hover{
    background: red;
}
.bookmark > ul > li > a > .bookmark_cd:after {
    background: #fff;
    display: block;
}


.bookmark > ul > li {
    float:left;
    width: 20%;
    list-style: none;
    padding: 1px 1px;
    position: relative;
}
.bookmark_cd {
    cursor: context-menu;
}


@media (max-width: 1225px) {
    .bookmark > ul > li{
        width: 50%;
    }
}

.form-control-feedback{
    font-size: 40px;
    z-index: 100;
    right: 40px;
    top: 5px;
    opacity: 0.8;
}

#ui-id-1{
    max-height: 500px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.analysis{
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
}

.input-icon{
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 24px;
}

.vote{
    font-size: 13px;
    padding-right: 3px;
}

.activeItem .rating-value{
    color: white;
}

.vote i,.vote span{
    opacity: 0.7;
}

.vote-up i,.vote-down i{
    color: #858585!important;
}

.activeItem .vote-up i,.activeItem .vote-down i{
    color: #dad8d8!important;
}

.vote-up.active i{
    color: green!important;
}

.vote-down.active i{
    color: red!important;
}

.activeItem .vote-up.active i{
    color: #01cb01!important;
}

.activeItem .vote-down.active i{
    color: #ff9999!important;
}

#imageContainer{
    margin: auto;
    width: 300px!important;
    height: 250px;
}

.file-preview-frame {
    width: 100%!important;
    height: 80px!important;
}