@font-face {
    font-family: 'itemfont1'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/calibrib.ttf'); /*URL to font*/
}

.option-item{
	font-family: itemfont1;
}

.option{
	position: relative;
}

.option-body{
	position: absolute;
	top: 30px;
	left: 20px;
	cursor: pointer;
}

.option-item i{
	color: red;
}

.special-content{
	border-style: solid;
    border-width: 30px;
    border-image: url(/web-content/images/plugin-icon/tag6.png) 150;
    -webkit-border-image: url(/web-content/images/plugin-icon/tag6.png) 150;
    -moz-border-image: url(/web-content/images/plugin-icon/tag6.png) 150;
    -o-border-image: url(/web-content/images/plugin-icon/tag6.png) 150;
}