.hint-text{
	text-align: center;
	color: red;
}

.vocabulary-table{
	text-align: center;
}

.listen-check-box textarea{
	text-align: center;
}

.listen-check-box{
	text-align: center;
}

#example-list .panel-heading .panel-title span:before{
    content: "\f03a"; /* FontAwesome Unicode */
}

#example-list .panel-contribute .panel-title span:before{
    content: "\f11e"; /* FontAwesome Unicode */
}

#example-list{
	margin-left: 0px;
}

.listen-answer{
	margin-top: 10px;
    border-top: 1px solid #aaa;
    border-radius: 10px;
    padding-top: 5px;
}
