.hint-text{
	text-align: center;
	color: red;
}

.vocabulary-table{
	text-align: center;
}

.vocabulary-table tbody tr td{
	padding : 3px;
}

.vocabulary-table tbody tr td:nth-child(2){
	border-right: 1px solid #ddd;
}

.vocabulary-table tbody tr td:nth-child(odd){
	font-weight: bold;
	font-style: italic;
	color: #2e6da4;
}

.listen-check-box textarea{
	text-align: center;
}

.listen-check-box{
	text-align: center;
}