.radar-chart{
	/*height: 200px!important;*/
}
.radar-chart canvas{
	margin-top: 10px;
	height: 210px!important;
}

.table-mission{
	text-align: center;
	margin-bottom: 0px;
}

.table-mission>thead>tr>th{
	padding: 4px;
	background: #d9534f;
}

.table-mission>tbody>tr>td{
	padding: 4px;
}

.table-mission tbody tr:hover {
    background: #f2f2f2;
}

#imageContainer.isface{
	opacity: 0;
}
.example-header{
	margin-left: 0px;
}
.web-main{
	border-right: 1px solid #ccc;
}
#post_tag{
	display: none;
}

.web-main .main-content{
	background: inherit;
}

