#example-list .panel-heading .panel-title span:before{
    content: "\f03a"; /* FontAwesome Unicode */
}

#example-list .panel-contribute .panel-title span:before{
    content: "\f11e"; /* FontAwesome Unicode */
}

.panel-bottom{
	padding: 5px 10px;
	margin-top: -15px;
}



