.social-tab>li.active>a, .social-tab>li.active>a:focus, .social-tab>li.active>a:hover{
	background: #563d7c;
    color: #fff;
}

#practice label{
	text-align: center;
	display: block;
}

.example-header{
	
}


#rating-value{
	display: none;
}

.question-header h5{
	color: blue;
	text-decoration: underline;
	font-size: 16;
	font-weight: bold;
}

.question-header h5 i{
	color: red;
	text-decoration: none;
	
}

.ratemate {
	height: 30px;
}

.commentbox .right-header{
	display: none!important;
}

span[data-toggle=tooltip]:hover{
	cursor: default;
}

.post-infor .tooltip .tooltip-inner {
    background-color:#ff3e00;
    border: 1px solid #fff;
}
.post-infor .tooltip .tooltip-arrow {
      border-bottom:5px solid #ff3e00!important;
      border-top: none!important;
}