.choose_slider_items .next_item{
	top:120px;
}

.choose_slider_items .previous_item{
	top:120px;
}

.choose_slider {
	height: 320px;
	width: 100%;
}

#mySlider1 li a img{
	width: 300px;
	height: 250px;
	box-shadow: 1px 0px 1px 1px grey;
}

.hint-text{
	text-align: center;
	color: red;
	margin-top: 15px;
}


.hint-text h6{
	margin-bottom: 0px;
}

.hint-text a{
	font-weight: bold;
}

.vocabulary-box input,.vocabulary-box textarea{
	margin-top: 5px;
	text-align: center;
	border-radius: 0px;
	font-size: 14px;
}


.vocabulary-box input:nth-child(1){
	color: #009688;
	font-size: 16px;
}

.vocabulary-box textarea{
	resize: none;
	padding: 0px 10px;
}

.right-tab{
	padding: 0px 5px!important;
}

.hwt-container{
	display: block!important;
}

.hwt-content mark{
	background: rgba(255, 0, 0, 0.2);
	padding: 2px 0px!important;
	border-radius: 3px;
}

.hwt-content {
    border: none; 
    padding: 10px 10px!important;
    font-size: 13px;
}

.default-background{
	background: #fff;
}

.default-background textarea{
	font-size: 13px;
}

.btn-fix{
	padding: 1px 10px!important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: absolute;
    right: 5px;
    border-bottom: none;
    top: 1px;
}

.btn-merge{
	right: 75px;
}

.btn-move button{
	padding: 3px 7px;
}

.btn-group button{
	padding: 3px 7px;
}

.analysis{
	border-bottom: 1px solid #ccc;
}

span[data-toggle=tooltip]:hover{
	cursor: default;
}

.post-infor .tooltip .tooltip-inner {
    background-color:#ff3e00;
    border: 1px solid #fff;
}
.tooltip .tooltip-arrow {
      border-bottom:5px solid #ff3e00!important;
      border-top: none!important;
}
.analysis{
	border-bottom: 1px solid #ccc;
	margin-top: 5px;
}


