.writing-tab>li.active>a, .writing-tab>li.active>a:focus, .writing-tab>li.active>a:hover{
	background: #563d7c;
    color: #fff;
}

#practice label{
	display: block;
}

#add-list{
	margin-left: 0px;
}
