.file-input{
	position: relative;
}

.image-custom-cover-w .file-preview-image{
	
	width: 100%!important;
	max-height: 398px!important;
	height: auto!important;
}

.image-custom-cover-w .file-preview-frame{
	height: 400px!important;
	width: 100%!important;
	max-height: 400px!important;
	overflow: hidden;
}

.image-custom-cover-h .file-preview-image{
	 position: absolute;
	 top: 1px;
	 left: 1px;
	width: auto!important;
	height: 100%!important;
	max-height: 400px!important;
}

.image-custom-cover-h .file-preview-frame{
	height: 400px!important;
	max-height: 400px!important;
	width: 100%!important;
}

.audio-custom-cover .file-preview-frame{
	height: 102px;
}

.file-preview-image{
	border: 1px solid #ddd;
}

.audio-custom-cover .file-preview-frame{
	width: 100%!important;
}

.old-content[transform-div='3']{
	min-width: 315px;
}

.old-content[transform-div='7']{
	min-width: 310px;
}


@media screen and (max-width:991px) {
    .image-custom-cover-w .file-preview-frame{
        height: auto!important;
    }
    .image-custom-cover-h .file-preview-frame{
		height: 300px!important;
	}
}

.transform-content{
	display: none;
}

.pra-table-body tbody .auto-resize{
	padding: 3px 10px;
}