.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #aaa;
}

.preview-label{
	font-size: 20px;
	padding-left: 10px;
}

.preview-label span{
	
}

.main-content{
	padding-left: 10px;
	margin-top: 10px;
}

.has-border{
	border-bottom: 1px solid #aaa;
}

.table-detail{
	padding-left: 10px;
	margin-top: 10px;
}
.table-detail .table-title{
	font-size: 16px;
}

.image img {
    border: 1px solid #aaa;
    max-height: 500px;
    max-width: 100%;
}

.video>div{
	margin: auto;
}

.mejs__mediaelement .fb-video{
	display: inline-block!important;
	z-index: -100;
}

.mejs__mediaelement{
	text-align: center;
	background-image: url(/web-content/images/background/body-background.gif);
}
.fb-video>span{
	width: 100%!important;
	height: 100%!important;
	margin-top: 1px;
	z-index: -100;
}

.fb-video>span>iframe{
	z-index: -100;
}

#video-player_youtube_iframe{
	width: 100%!important;
	height: 100%!important;
}