#imageContainer{
	width: 300px;
	height: 253px;
	box-shadow : none;
	border: 1px solid #aaa;
}
.file-preview-frame {
    width: 100%!important;
    height: 102px;
}
.ui-autocomplete{
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

