@font-face {
    font-family: 'headerfont1'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/ALGER.TTF') format('truetype'); /*URL to font*/
}

@font-face {
    font-family: 'headerfont2'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/CHILLER.TTF') format('truetype'); /*URL to font*/
}

@font-face {
    font-family: 'OstrichSansDashed'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/ostrich_sans_light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'ToetheLineless'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/ToetheLineless.ttf') format('truetype'); /*URL to font*/
}

@font-face {
    font-family: 'NokioRegular'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/FS_NokioRegular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'titlefont'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/FontDep.com_UVNBaiHoc_BI.TTF') format('truetype'); /*URL to font*/
}

@font-face {
    font-family: 'textfont'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/FontDep.com_UVNThoiDai2.TTF'); /*URL to font*/
}

@font-face {
    font-family: 'ariavh'; /*a name to be used later*/
    src: url('/web-content/css/common/fonts/UVF%20Aria%20Pro.otf'); /*URL to font*/
}
html,body{
  height: 100%;
}

body {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
body::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

a{
    cursor: pointer;
}

.width-50{
    width: 50%!important;
}

.right-tab .tab-content{
    display: none;
    max-height: 750px;

}

.right-tab .tab-content .tab-pane{
    height: 100%;

}

.right-tab .tab-content .tab-pane>div{
    min-height: calc(100% - 30px);
}

.pager{
    display: inline-block;
    margin-top: 10px;
}
.pager li{
    display: table-cell;
    padding: 0px 1px;
}

.pager select.input-sm{
    height: 28px;
    padding-top: -1px;
    text-align: center;
}

.pager li>a, .pager li>span {
    font-size: 12px;
    border-radius: 0px;
    padding: 5px 10px;
    background: #4CAF50;
    color: #fff;
    border: none;
}

.pager li>a:hover, .pager li>span:hover {
    background: #d9734f;
    color: #fff;
}

.pager li.active>a, .pager li.active>span {
    background: #d9534f;
    color: #fff;
    border: 1px solid #ddd;
}

label {
    margin-bottom: 2px;
    font-size: 12px;
}

.tooltip .tooltip-inner {
    background-color:red;
    border: 1px solid #fff;
}
.tooltip .tooltip-arrow {
      border-bottom:5px solid red!important;
}

.input-group {
    width: 100%;
}

.input-group-addon{
    border-radius: 0px;
}

.input-group-text {
    padding: 6px 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border-radius: 0px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.text-follow{
    position: absolute;
    left: 100px;
    display: inline-block;
}

.text-danger{
    color: #fe1601;
}

.form-control{
    border-radius: 0px!important;
}

.form-control.required {
    border: 1px solid red;
}

.required .form-control{
    border: 1px solid red;
}

.form-control.required:focus {
    border: 1px solid #ccc;
}

.btn {
    border-radius: 0px;
}

.icon-btn {
    padding: 3px 0px;
}

.pager {
    margin: 0px;
    margin-top: 0px;
}

.dropdown button {
    min-width: 160px;
    text-align: left;
}

.dropdown-menu {
    border-radius: 0px;
    border: 1px solid #aaa;
    padding: 0px 0px;
}

.dropdown-menu>li>a{
    padding: 3px 8px;
}

.dropdown-menu li a:hover {
    background: #aaa;
}

.picker input[readonly] {
    background: #fff;
}

.nav-tabs.nav-justified>li>a {
    border-radius: 0px;
    padding: 5px 3px;
    background: #999;
    color: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    margin-bottom: 0px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-right: -10px;
    margin-left: -10px;
}

.navbar-nav{
    margin: 0px -10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #4CAF50;
    color: #fff;
}

.comment-tabs>li.active>a, .comment-tabs>li.active>a:focus, .comment-tabs>li.active>a:hover{
    background: dimgray;
    color: #fff;
}


.tab-content {
    border: 1px solid #bbb;
    border-top: none;
    border-right: none;
}

.fix-size {
    resize: none;
}

textarea {
    resize: none;
    border-radius: 0px!important;
}

.checkbox-inline, .radio-inline {
    font-size: 14px;
}

.table {
    font-size: 12px;
    text-align: center;
}

.table-click {
    font-size: 13px;
    text-align: left;
    margin-bottom: 0px;
}

.table-click thead tr th{
    background: transparent;
    color: black;
    border-bottom: 1px solid #ccc!important;
    text-align: left;
}

.table-click tbody tr{
    cursor: pointer;
    color: #337ab7;
}

.table-click>tbody>tr>td, .table-click>tbody>tr>th, .table-click>tfoot>tr>td, .table-click>tfoot>tr>th, .table-click>thead>tr>td, .table-click>thead>tr>th{
    padding: 3px;
}

.table thead th {
    text-align: center;
    background: #563d7c;
    color: #fff;
}

.table-hover tbody tr:hover {
    background: #ddd;
}

.table-input>tbody>tr>td, .table-input>tbody>tr>th, .table-input>tfoot>tr>td, .table-input>tfoot>tr>th, .table-input>thead>tr>td, .table-input>thead>tr>th {
    padding: 2px 4px;
}

.table-input input[type='text']{
    height: 25px;
}

.table-input thead th{
    background-color: #006898;
}

.hover-item {
    cursor: pointer;
}

.web-panel {
    padding : 0px 1px;
}

.panel{
    border-radius: 0px;
}

.panel-body{
    padding: 5px 10px;
}

.panel-group{
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.panel-group .panel{
    border-radius: 0px;
}

.panel-group .panel-heading{
    padding: 5px 10px;
    cursor: pointer;
    display: table;
    width: 100%;
}

.panel-group .panel-body{
    padding: 7px 10px;
}

.panel-group .panel-title{
    font-size: 14px;
    display: table-cell;
    padding-top: 3px;
}

.panel-group .panel-heading .panel-title span:before{
    content: "\f212"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 5px;
    width: 1.3em; /* same as padding-left set on li */
    color: #d9534f;
}

.panel-group .panel-contribute .panel-title span:before{
    content: "\f11e"; /* FontAwesome Unicode */
}


.panel-group .panel-heading a{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 13px;
}

.panel-group .panel-heading .number-clap{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    border-left: 1px solid #ddd;
    padding-right: 10px;
    padding-left: 5px;
    width: 50px;
}

.panel-group .panel-body:before{
    content: "\f0a4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 5px;
    width: 1.3em; /* same as padding-left set on li */
    color: #d9534f;
}

.panel-group .panel-contribute .panel-body:before{
    content: none; /* FontAwesome Unicode */
    
}

body {
    background-image: url('/web-content/images/background/body-background.gif');
}

.claped{
    color: firebrick;
}
.claped:hover{
    color: firebrick;
}
.user-menu{
    top: 34px!important;
    left: 10px!important;
}

.row{
    margin-right: 0px;
}

.selectize-control{
    height: 30px;
}

.logo-box{
    width: 320px;
    border-right: 1px solid #ddd;
    height: 65px;
    padding: 0px;
    float: left;
}

.dropdown-menu>li>a:hover{
    background: #f2f2f2!important;
}

.logo-box>div{
    display: inline-block;
}

.logo-icon{
    font-size: 30px!important;
    color: #eee;
}

.slogan-box{
    width: auto;
    overflow: hidden;
    text-align: right;
}
.logo-box-text{
    display: block;
    padding-left: 10px;
    color:white;
}

.logo-box-text:nth-child(1){
    font-family:'headerfont1';
    font-size: 20px; 
}

.logo-box-text:nth-child(2){
    font-family:'headerfont1';
    font-size: 20px; 
    padding-left: 20px;
}

.logo-box-text1{
    padding-left: 20px;
    font-family:'ToetheLineless';
    font-size: 50px;
    color: white;
}

.logo-box-text1:hover{
    cursor: pointer;
    font-size: 52px;
}
.text-slogan{
    display: block;
}
.input-tab{
    padding: 0px 5px;
}
.text-slogan{
    font-family: OstrichSansDashed;
    font-size: 35px;
    text-align: right;
    padding-top: 15px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}

.top-header{
    margin: 0px;
    background-color: #666;
}

.border-left{
    border-left: 1px solid #ccc;
}

.example-header{
    margin-left: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #aaa;
}


.title-header{
    font-family: titlefont;
    font-size: 20px;
}

.text-header{
    font-family: textfont;
    font-size: 20px;
    font-weight: 800;
}

.header-right button {
    float: right;
    position: relative;
}

.menu-btn{
    float: right;
    display: none;
}

.navbar-brand {
    padding: 4px 10px;
    height: auto;
    font-size: 16px;
}

.navbar-brand.dropdown-toggle{
    padding: 2px 10px!important;
    padding-right: 35px!important;
}

.navbar-brand:nth-child(1){
    padding: 4px 10px;
    padding-right: 35px;
}

.navbar-brand:nth-child(1):hover{
    text-decoration: underline;
}

.navbar-nav>li>a {
    padding: 7px 10px;
}

.navbar-nav>li{
    float: left!important;
}

.navbar {
    min-height: 30px;
    border-radius: 0px;
    margin-bottom: 0px;
}
.ratestar-bar{
    margin-top: -3px;
    padding-left: 5px;
}

.rate-bar .btn-sm{
    padding: 5px 0px;
}
.search-box {
    margin-top: 2px;
    margin-left: 0px;
}

.full-width {
    width: 100%;
}

.no-padding {
    padding: 0px!important;;
}

.pin-footer{
   position: absolute;
   bottom: 0px;
}

.web-main{
    padding: 0px;
    padding-right: 10px;
    /*border-right: 1px solid #ccc;*/
}

.body-content{
    min-height: calc(100vh - 82px);
}

.middle-content{
    margin-bottom: 10px;
    
}

.bottom-content{
    background: #191919;
    border-bottom:1px #fff solid;
    color: white;
    /*margin-top: 10px;*/
    /*height: 82px*/
}

.bottom-content a{
    cursor: pointer;
}

.bottom-content>div{
    padding: 0px 5px;
}

.bottom-content{
    padding: 5px 0px;
}
.bottom-left span{
    display: block;
    color: white;
}
.bottom-left span:nth-child(1){
    font-family: 'ToetheLineless';
    font-size: 15px;
}

.bottom-right span{
    font-family: 'ToetheLineless';
    font-size: 15px;
}

.bottom-right div{
    margin-right: 10px;
}

.bottom-right div a{
    font-size: 14px;
    color: white;
}

.brand{
    font-family: ToetheLineless;
}

.container-fluid {
    background: #777;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand {
    font-family: NokioRegular;
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.btn-search {
    background: #555;
    border-color: white;
    color: white;
}

.btn-search:hover {
    background: #e7e7e7;
    border-left-color: black;
    color: black;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.nav>li:hover {
    background: #e7e7e7;
}

.search-box input {
    border-radius: 0px;
}

.left-tab{
    border-right: 1px solid #ddd;
}

.left-header {
    background: #009688;
    padding: 1px 0px;
    display: block;
    color: white;
    border-bottom: 1px solid #fff;
}

.left-header:hover {
    cursor: pointer;
}

.left-header h5 {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.left-header h5 span {
    font-weight: bold;
}

.modal-header.login-modal{
    padding: 4px 15px;
}

.modal-title.login-modal{
    display: inline-block;
    padding-top: 1px;
}

.login-with{
    display: inline-block;
    float: right;
    font-size: 18px;
    padding-right: 20px;
}

.login-with>i{
    margin-left: 10px;
}

.login-with>i:hover{
    cursor: pointer;
}

.login-with>i:nth-child(1){
    color: #3a589b;
}

.login-with>i:nth-child(2){
    color: #5caae1;
}

.login-with>i:nth-child(3){
    color: #d84c28;
}

.left-content {}

.main-content{
    padding: 0px 5px;
}

.left-content:hover {
    background: #ddd;
}

.left-content label {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.answer-btn {
    margin: 5px 0px 5px 10px;
    padding: 5px 30px;
}

.left-hint {
    background: #555;
    padding: 1px 0px;
}

.left-hint h6 {
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.vocabulary-table {
    margin-bottom: 0px;
}

.vocabulary-table>tbody>tr:hover{
    background-color: #fff2e6;
}

.vocabulary-table tbody tr td{
    padding : 3px;
}

.vocabulary-table tbody tr td:nth-child(2){
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.vocabulary-table tbody tr td:nth-child(odd){
    font-weight: bold;
    font-style: italic;
    color: #2e6da4;
}

.table-left {
    text-align: left;
    margin-bottom: 0px;
}

.table-left tbody tr td{
    vertical-align: middle;
}

td .radio-inline {
    padding-left: 0px;
}

.table-left>tbody>tr>td, .table-left>tbody>tr>th, 
.table-left>tfoot>tr>td, .table-left>tfoot>tr>th, 
.table-left>thead>tr>td, .table-left>thead>tr>th{
    padding: 3px;
}

.right-header {
    background: #d9534f;
    padding: 1px 0px;
    display: block;
    color: white;
    border:1px solid #fff;
}

.right-header h5 {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
    cursor: pointer;
}

.right-header h5 span {
    font-weight: bold;
}

.option-header {
    background: #563d7c;
    padding: 1px 0px;
    display: block;
    color: white;
    border:1px solid #fff;
    position: relative;
}

.option-header h5 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

.table-center{
    text-align: left;
    margin-bottom: 0px;
}

.table-center tbody tr td{
    padding : 5px;
    vertical-align: middle;
}

.table-center tbody tr td a span{
    font-weight: bold;
    color: #4CAF50;
}


.right-tab .form-group{
    margin-bottom: 0px;
}

.table-right{
    text-align: left;
    margin-bottom: 0px;
}

.table-right tbody tr td{
    padding : 5px;
    vertical-align: middle;
}

.table-right tbody tr td a {
    text-decoration: none;
}

.table-right tbody tr td a i{
    color: red;
}

.table-right tbody tr td button{
    float: right;
}

.margin-top{
    margin-top: 5px;
}

.activeItem{
    background: #555!important;
}

.activeItem[id='-100'] tr{
    background: #555!important;
}

.activeItem td a{
    color: white;
    font-weight: bold;
}

.activeItem td a i{
    color: #f78a8a!important;
    font-weight: bold;
}

.title-bar{
    background: #563d7c;
    padding: 3px 0px;
}

.title-bar label {
    color: white;
    margin-left: 10px!important;
}

.title-bar input[type='checkbox'] {
    color: black;
}


.title-bar h5{
    color: white;
    margin-bottom: 4px;
    margin-top: 2px;
    font-size: 12px;
    cursor: pointer;
}

.right-tab .tab-content{
    overflow: auto;   
}


.commentbox{
    border: 1px solid #ddd;
}

.commentList{
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
}

.commentList .commentItem{
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.commentList .commentItem:last-child{
    border-bottom: none;
}

.commentList .commentItem:first-child{
    border-top: 1px solid #ddd;
}

.commenterImage{
    display: inline-block;
    float: left;
    padding-top: 5px;
    padding-right: 5px;
}

.commenterImage img{
    width: 42px;
    height: 42px;
    border: 1px solid #aaa;
}


.commentContent a{
    font-weight: bold;
    font-size: 12px;
}

.commentContent{
    padding-left: 47px;
}


.commentText{
    display: block;
    font-size: 12px;
    text-align: justify;
    padding-right: 5px;
    white-space: pre-wrap;
}
.bottomContent{
    display: block;
    margin-top: -5px;
}

.commentHeader{
    display: block;
    width: 100%;
}

.commentHeader a,.commentHeader span{
    display: inline-block!important;
    padding-right: 2px;
}

.commentHeader .rank{
    font-family: 'ToetheLineless';
    color: red;
    font-size: 12px;
}

.commentHeader .dropdown{
    float: right;
}

.commentHeader .dropdown ul{
    left: -156px;
    top: 15px;
}

.commentHeader .dropdown ul li a{
    width: 100%!important;
}

.commentHeader .setting{
    font-size: 12px;
    float: right;
    padding-top: 5px;
    font-weight: normal;
}

.comment-date{
    padding-top: 4px;
    padding-right: 5px!important;
}
.bottomContent *{
    display: inline-block!important;
    padding-right: 2px;
}

.bottomContent a{
    font-size: 11px;
}

.bottomContent .liked{
    color: firebrick;
}

.bottomContent .dislike{
    color: blueviolet;
}

a.see-back{
    font-size: 11px;
    font-weight: bold;
}

.sub-text {
    color: #999;
    font-size: 11px;
    display: block;
}

.margin-bottom{
    margin-bottom: 5px;
}

.margin-left {
    margin-left: 10px;
}
.margin-right {
    margin-right: 10px;
}

.modal-content{
    border-radius: 0px;
}

.modal-title{
    font-weight: bold;
    color: red;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
    vertical-align: middle!important;
}

.modal-header, .modal-body, .modal-footer{
    padding: 10px 10px;
}

button .is-icon{
    float: left;
}

.listen_result{
    font-weight: bold;
    color: red;
}

.new-question{
    padding: 0px 10px;
}

.form-group{
    margin-bottom: 10px;
}

#btn_next{
    width: 61px;
}

#btn_prev{
    width: 61px;
}

select.input-sm{
    padding-left: 5px;
}

.watched-ad{
    height: 685px;
}

.practice-qs label{
    display: block;
}

.practice-qs .checkbox-inline,.practice-qs .radio-inline{
    margin-left: 10px;
}

a.btn-add span {
    color: #fff;
}

.active-menu{
    background: #f5f5f5!important;
}

.active-menu a{
    color: black!important;
}

.not-found{
    height: 100%;
    width: 100%; 
    object-fit: contain;
    max-width: 800px;
    max-height: 370px;
}

.login-message{
    color: #E5224C;
    display: block;
}

.input-error:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #F697A3 inset;
}

.input-error{
    background-color: #F697A3!important;
    background-image: none!important;
    color: white;
}
.input-error .file-caption{
    background-color: #F697A3!important;
    background-image: none!important;
    color: white;
}

.tooltip-inner {
    max-width: 350px;
    width: auto;
    border-radius: 0px;
}

.selected-row{
    background-color: #777!important;
}

.selected-row td{
    color: white;
    font-weight: bold;
}

.selected-row td:first-child i{
    color: #f78a8a!important;
    font-weight: bold;
}

.pagging-disable *{
    cursor: not-allowed;
    pointer-events: none;
    background:#c0c0c0!important; 
}

.btn-del-lesson{
    height: 17px;
    width: 100%;
    padding:0px 0px!important;
    border-width: 0px;
}

.select-header{
    display: inline-block;
    float: right;
    margin-top: 3px;
    border: none;
    background: #d9534f;
}

.select-header:focus{
    border: none;
    outline: none;
}

.select-header *{
    border: none;
    outline: none;
}

.btn-disabled{
    cursor: not-allowed!important;
    opacity: .65;
}

.no-margin-bt{
    margin-bottom: 0px!important;
}

#example-list{
    margin-left: 0px;
}

.panel.example-item{
    margin-bottom: 5px;
}

.answer-box{
    border-bottom: 1px double #ddd;
    position: relative;
    margin-top: -10px;
}

.answer-box .result-icon{
    display: none;
}

.answer-box .radio,.answer-box .checkbox{
    margin-left: 20px;
    font-weight: 100;
}

.answer-box .radio input,.answer-box .checkbox input{
    top: -2px;
}

.panel-contribute{
    margin-bottom: 5px!important;
}

.right-answer{
    background-color: #caf1ca;
}

.wrong-answer{
    background-color: #ef9f9f;
}

.right-answer .result-icon,.wrong-answer .result-icon{
    display: block;
    color: white;
    font-size: 50px;
    position: absolute;
    vertical-align: middle;
    right: 30px;
    top: 20px;
    opacity: 0.7;
}

.load-more{
    color: #044fe4;
    opacity: 0.6;
    font-size: 11px!important;
    font-style: italic;
}

.text-overflow{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#wsc_banner{
    display: none!important;
}

#wsc_banner *{
    display: none!important;
}

table a[type='button'] {
    height: 22px;
    padding: 0px 10px;
}

.table-input{
    margin-bottom: 5px;
}

.table-input tbody tr td{
    padding: 1px 4px;
}

.table-fixed-width{
    overflow: auto;
}

.btn-custom{
    padding: 2px 10px;
}

.tag-list{
    display: inline-block;
    border: 1px solid #ddd;
    margin: 3px 2px;
    padding: 1px 5px;
    border-radius: 4px;
    color: #080404;
    background: white;
    box-shadow: 0 0 1px 0px red;
}

.tag-list:hover{
    color: #080404;
    box-shadow: 0 0 2px 1px red;
    text-decoration: none;
}

select.allow-selectize{
    display: none;
}

select.tag-custom{
    display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.rateit.rateit-font .rateit-reset{
    background: transparent;
    background-image: url(/web-content/images/plugin-icon/refresh.png)!important;
    background-size: 25px;
    width: 25px;
    height: 24px;
    margin-left: 5px;
    
}

.rateit.rateit-font .rateit-reset:hover{
    background : transparent;
    background-image: url(/web-content/images/plugin-icon/refresh.png)!important;
    background-size: 25px;
    width: 25px;
    height: 24px;
}

.rateit.rateit-font .rateit-reset span{
    display: none;
}

.post-infor{
    display: table;
    margin-bottom: 5px;
}

.post-infor>span{
    display: inline-block;
    padding-right: 15px;
    padding-left: 5px;
    padding-top: 9px;
}

.post-infor >.rateit{
    position: absolute;
    height: 36px;
}

.sticky{
    position: fixed;
    top: 0px;
    /*width: 100%;*/
    z-index: 1000;
}

.btn-group .btn-default{
    border-color: #fff;
}

.btn-group>button{
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-like:hover{
    text-decoration: none;
}

.no-background{
    background: transparent!important;
}

.tag-style{
    background: url(/web-content/images/plugin-icon/tag.png);
    background-size: 90% 22px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}