@media screen and (max-width:1310px) {}

@media screen and (max-width:1200px) {
    .search-box {
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .navbar-right {
    float: left!important;
}

    .screen-name{
        display: block;
        width: 100%;
        float: left;
        padding-top: 0px;
    }
}

@media screen and (max-width:990px) {
    .right-tab .tab-content {
        height: 200px!important;
    }
    .right-tab {
        padding: 0px;
    }
    .title-bar h5 {
        text-align: center;
    }
    .web-main {
        padding-right: 0px;
    }
}

@media screen and (max-width:900px) {
    .screen-name{
        padding-top: 0px;
    }
}

@media screen and (max-width:680px) {
     .navbar-brand:nth-child(1) {
        padding-right: 0px;
        display: block;
    }
}


@media screen and (max-width: 768px) {
    .change-content{
        padding: 0px 0px 0px 0px;
    }
    .mobile-pager{
        display: block;
    }

    .container-fluid{
        margin-right: 0px;
    }
    .menu-btn-mobile{
        display: inline-block;
        float: right;
    }

    .menu-btn-mobile li:hover{
        background: unset!important;
    }

    .btn-mobile{
        padding:3px 0px!important;
        color: #a94442;
        font-family: titlefont;
        font-size: 20px;
    }

    .navbar-header{
        display: inline-block;
    }

    .gw-sidebar{
        display: none;
    }

    .btn-mobile:hover{
        background: unset!important;
    }
}

@media screen and (min-width: 768px) {
    .title-bar h5{
        margin:4px 15px;
    }
    .gw-sidebar{
        display: block;
    }
}

@media screen and (max-width: 479px) {
    audio{
        width: 230px;
    }
    .file-preview-frame{
        width: 230px;
        height: auto;
    }

}
